$navy: #506C9D;
$pink: #FF757C;
$white: #ffffff;
$orange: #FA9917;
$blue-sky: #3399FF;
$dark-grey: #232424;
$grapefruit: #FF5F58;
$green: #2AC940;
$mustard: #E38D3D;
$christmas-tree: #509D51;
$grey: #BDBDBD;
$red: #F4313B;