@import 'variables/size'; 
@import 'variables/colours'; 

.navbar a {
  margin-right: $m-size;
  text-decoration: none;
  font-size: $s-size;
  color: white;
}

.navbar .website-name {
  font-size: $ml-size;
}