@import './../variables/breakpoints';
@import './../variables/size';

.partner--details {
  @media(max-width: $tablet-breakpoint) {
    font-size: $s-size;
  }

  @media(max-width: $mobile-breakpoint) {
    font-size: $xs-size;
  }
}

.partner--name {
  @media(max-width: $tablet-breakpoint) {
    font-size: $s-size;
  }
  @media(max-width: $mobile-breakpoint) {
    font-size: 1rem;
  }
}

.partner {
  @media(max-width: $tablet-breakpoint) {
    flex-direction: column-reverse;
  }
}

.partner--left-container, .partner-map--container {
  @media(max-width: $tablet-breakpoint) {
    flex-basis: none;
  }
}

.partner-map--container {
  @media(max-width: $tablet-breakpoint) {
    margin-bottom: $s-size;
  }
}