@import 'variables/colours';

.bg-navy {
  background-color: $navy;
}

.bg-pink {
  background-color: $pink;
}

.bg-orange {
  background-color: $orange;
}

.bg-grey {
  background-color: $grey;
}

.bg-blue-sky {
  background-color: $blue-sky
}

.bg-dark-grey {
  background-color: $dark-grey;
}

.bg-grapefruit {
  background-color: $grapefruit;
}

.bg-green {
  background-color: $green;
}

.bg-mustard {
  background-color: $mustard;
}

.bg-christmas-tree {
  background-color: $christmas-tree;
}

.bg-white {
  background-color: white;
}