.fullscreen {
  height: 100vh;
}

body {
  font-family: 'AvenirLTStd-Book';
}

.center {
  text-align: center;
}

.fullheight {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.sticky {
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top: 0px;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.text-decoration--none {
  text-decoration: none;
}

.word-wrap--break-word {
  word-wrap: break-word;
}

.fullwidth {
  width: 100%;
}

.halfwidth {
  width: 50%;
}

.overflow--hidden {
  overflow: hidden;
}

.absolute { 
  position: absolute;
}