@import 'variables/colours';
@import 'variables/font_weights';
@import 'variables/size';
@import 'padding';
@import 'variables/breakpoints';

.button {
  border-radius: 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: $favourite-font-weight;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: $s-size;
  @extend .px3;
  text-align: center;
  cursor: pointer;
  @media(max-width: $tablet-breakpoint) {
    padding-left: 13px;
    padding-right: 13px;
  }
  @media(max-width: $mobile-breakpoint) {
    padding-left: 11px;
    padding-right: 11px;
    font-size: 1rem;
  }
}

.button--no-border-radius {
  border-radius: 0px;
}

.button-text--medium {
  font-size: $m-size;
}

.button--navy {
  background-color: $navy;
}

.button--grey {
  background-color: $grey;
}
.button--christmas-tree {
  background-color: $christmas-tree;
}

.button-outline {
  border: 1px white solid;
}

.button-outline--leaf {
  border: 1px $leaf solid;
  color: $leaf;
}

.button-outline--navy {
  border: 1px $navy solid;
  color: $navy;
}

.button--leaf {
  background-color: $leaf;
}

.button--orange {
  background-color: $orange;
}