@import 'variables/colours';

.text-white {
  color: $white;
}

.text-navy {
  color: $navy;
}

.text-grey {
  color: $grey;
}

.text-black {
  color: black;
}

.text-leaf {
  color: $leaf;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-orange {
  color: $orange;
}

.text-christmas-tree {
  color: $christmas-tree;
}

.text-red {
  color: $red;
}

