.flex {
  display: flex;
}

.flex-direction--row-reverse {
  flex-direction: row-reverse;
}

.align-items--center {
  align-items: center;
}

.col-3 {
  flex-basis: 25%;
}
.col-6 {
  flex-basis: 50%;
}
.col-7 {
  flex-basis: 60%;
}
.col-5 {
  flex-basis: 40%;
}

.col-10 {
  flex-basis: 80%;
}

.col-2 {
  flex-basis: 20%;
}

.col-8 {
  flex-basis: 66%;
}

.col-4 {
  flex-basis: 33%;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--around {
  justify-content: space-around;
}

.justify-content--between {
  justify-content: space-between;
}

.flex-direction--column {
  flex-direction: column;
}

.flex-direction--row {
  flex-direction: row;
}

.justify-content--end {
  justify-content: flex-end;
}

.align-items--end {
  align-items: flex-end;
}