.flex {
  display: flex;
}

.flex-direction--row-reverse {
  flex-direction: row-reverse;
}

.align-items--center {
  align-items: center;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--around {
  justify-content: space-around;
}

.flex-direction--column {
  flex-direction: column;
}