@import 'variables/size';

.h1 {
  font-size: $xl-size;
}
.h2 {
  font-size: $l-size;
}
.h3 {
  font-size: $ml-size;
}
.h4 {
  font-size: $m-size;
}
.h5 {
  font-size: $s-size;
}
.h6 {
  font-size: $xs-size;
}