@import 'variables/size';
@import 'variables/colours';
@import 'variables/breakpoints';

.form__input-container input {
  border: 1px $grey solid;
  height: 10px;
  font-size: $s-size;
  padding: $s-size;
}

.form__input-container input[type=checkbox] {
  height: 20px;
  @media(max-width: $tablet-breakpoint) {
    font-size: $s-size;
  }

  @media(max-width: $mobile-breakpoint) {
    font-size: $xs-size;
  }
}