@import 'variables/size';

.m0 {
  margin: 0;
}

.mr1 {
  margin-right: $s-size;
}

.mr2 {
  margin-right: $m-size;
}

.mr3 {
  margin-right: $l-size;
}

.ml1 {
  margin-left: $s-size;
}

.ml2 {
  margin-left: $m-size;
}
.ml3 {
  margin-left: $l-size;
}
.mb05 {
  margin-bottom: $xs-size;
}
.mb1 {
  margin-bottom: $s-size;
}

.mb2 {
  margin-bottom: $m-size;
}

.mb3 {
  margin-bottom: $l-size;
}

.mt05 {
  margin-top: $xs-size;
}
.mt1 {
  margin-top: $s-size;
}

.mt2 {
  margin-top: $m-size;
}
.mt3 {
  margin-top: $l-size;
}

.my1 {
  @extend .mt1, .mb1;
}
.my2 {
  @extend .mt2, .mb2;
}
.my3 {
  @extend .mt3, .mb3;
}

.mx1 {
  @extend .mr1, .ml1;
}
.mx2 {
  @extend .mr2, .ml2;
}
.mx3 {
  @extend .mr3, .ml3;
}